@import "./styles/base.css";

/* =========================
   BASE
========================= */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--text-font);
  margin: 0;
  overflow-x: hidden;
}

/* =========================
   NAVBAR
========================= */

.navbar {
  width: 100%;
  display: flex;
  padding: 2.5rem 3rem;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}

.navbar__logo {
  font-weight: 400;
  list-style: none;
}

.navbar__liste {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-left: auto;
  align-items: center;
  padding-right: 8rem;
}

.navbar__liste li a,
.navbar__logo a {
  text-decoration: none;
}

/* Couleurs selon page */
.page-home .navbar__liste li a,
.page-home .navbar__logo a {
  color: var(--bg-color);
}

.page-oeuvre .navbar__liste li a,
.page-oeuvre .navbar__logo a {
  color: var(--text-color);
}

.page-oeuvre .site-footer {
  position: relative;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.page-oeuvre .footer-email {
  position: relative;
  color: var(--bg-color);
}

/* =========================
   HEADER / HERO
========================= */

.header {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-color);
  background-image: url("../public/fond.svg");
  color: var(--bg-color);
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.hero__text {
  text-align: left;
}

.hero__title {
  font-family: var(--hero-font);
  font-size: 8rem;
  line-height: 0.9;
  margin: 0.2rem 0 1.2rem;
}

.hero__subtitle {
  font-family: var(--special-font);
  font-weight: 100;
  font-size: 3rem;
  padding-bottom: 1rem;
}

/* =========================
   BOUTONS
========================= */

.hero__buttons {
  display: flex;
  gap: 5rem;
  padding-top: 1rem;
}

.hero__button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: 500;
}

.hero__button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.button__compétences {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 500;
}

.button__projet {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: 500;
}

.button__projet:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
/* =========================
   DECORS
========================= */

.poisson,
.fish,
.etoile,
.etoile__bottom,
.etoile__bleue {
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

.poisson {
  top: 275px;
  right: 180px;
  width: 15rem;
}

.fish {
  top: 130px;
  left: 190px;
  width: 13rem;
  transform: scaleX(-1);
}

.etoile {
  top: -90px;
  right: -180px;
  width: 20rem;
}

.etoile__bottom {
  bottom: -90px;
  left: -70px;
  width: 20rem;
  z-index: 6;
}

.etoile__bleue {
  top: 0;
  right: -10px;
  width: 10rem;
}

.vague__textile {
  position: absolute;
  transform: scaleY(-1);
  top: -50px;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}

.vague__textile-bottom {
  position: absolute;
  transform: scaleX(-1);
  bottom: -50px;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}

.vague__footer {
  position: absolute;
  transform: scaleY(-1);
  top: -80px;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
}
/* =========================
   SECTION PROPOS
========================= */

.propos {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 3rem;
  margin-bottom: 3rem;
}

.propos__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.propos__text {
  max-width: 600px;
}

/* =========================
   PROJETS
========================= */

.projets {
  position: relative;
  background-color: var(--text-color);
  padding-top: 0.5rem;
  margin-bottom: 10rem;
}

.projets__title {
  font-size: 2rem;
  padding-left: 17rem;
  color: var(--bg-color);
  position: relative;
  z-index: 10;
}

.projets__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 4rem;
  max-width: 1100px;
  margin: 0 auto;
}

.etoile__project {
  position: absolute;
  transform: scaleX(-1) rotate(20deg);
  top: 50px;
  right: 175px;
  width: 20rem;
  z-index: 5;
}

.etoile__sae {
  position: absolute;
  transform: scaleX(-1) rotate(50deg);
  bottom: -60px;
  left: 110px;
  width: 18rem;
  z-index: 5;
}

/* =========================
   OEUVRE
========================= */

.projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.projet__img-container {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  margin-bottom: 5rem;
}

.projet__img {
  width: 40%;
  border-radius: 2rem;
}

.projet__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  max-width: 520px;
}

.projet__buttons {
  display: flex;
  gap: 1rem;
}

/* =========================
   ILLUSTRATIONS FULL WIDTH
========================= */

.projet__illustration-wrapper {
  position: relative;
  width: 100%;
  background-color: var(--text-color);
}

.projet__illustration-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

.projet__illustration {
  width: 550px;
}

/* =========================
   FOOTER
========================= */

.site-footer {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: 2rem;
  margin-top: 5rem;
  z-index: 1;
}

.vague,
.vague__bottom {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 2;
}

.vague {
  top: -50px;
  transform: scaleY(-1);
}

.vague__bottom {
  bottom: -80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-email {
  position: relative;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  z-index: 2;
}

.footer-phone {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.footer-right {
  text-align: right;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a span {
  font-size: 0.8rem;
  margin-left: 5px;
}

/* =========================
   CARDS
========================= */

.project-card {
  width: 100%;
  max-width: 500px;
  background-color: #030e42;
  border-radius: 20px;
  overflow: hidden;
  color: var(--bg-color);
  transition: transform 0.3s ease;
  z-index: 10;
}

.project-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 300px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 25px;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 15px;
}

.card-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  border: 1px solid var(--bg-color);
  padding: 6px 15px;
  border-radius: 25px;
  font-size: 0.85rem;
  color: var(--bg-color);
}

.card-date {
  font-size: 0.9rem;
}

/* =========================
   RESPONSIVE PACK
========================= */
.burger-toggle {
  display: none;
}

/* Icône burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 100;
}
.burger span {
  width: 28px;
  height: 3px;
  background-color: var(--bg-color);
  transition: 0.3s ease;
}

/* Animation burger → croix */
.burger-toggle:checked + .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger-toggle:checked + .burger span:nth-child(2) {
  opacity: 0;
}
.burger-toggle:checked + .burger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  /* HERO */

  .burger {
    display: flex;
  }
  .navbar__liste {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 0.4s ease;
    z-index: 50;
  } /* Quand la checkbox est cochée → menu visible */

  .navbar__logo a {
    display: none;
  }
  .burger-toggle:checked ~ .navbar__liste {
    right: 0;
  }
  .hero {
    position: relative;
    padding: 1.5rem;
  }

  .hero__title {
    font-size: clamp(2.5rem, 12vw, 4rem);
    text-align: center;
  }

  .hero__subtitle {
    font-size: 1.5rem;
    text-align: left;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 1rem;
  }

  /* PROPOS */
  .propos {
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    text-align: center;
  }

  /* PROJETS */
  .projets__title {
    padding-left: 1rem;
    text-align: center;
  }

  .projets__img {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  /* OEUVRE */
  .projet__img-container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }

  .projet__img {
    width: 100%;
  }

  .projet__text {
    max-width: 100%;
    padding: 0 1rem;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    padding: 1rem;
  }

  .footer-right {
    text-align: left;
  }

  .footer-email {
    font-size: 1.4rem;
    word-break: break-word;
  }

  /* DECORS */

  .etoile,
  .etoile__bottom,
  .etoile__bleue,
  .etoile__project,
  .etoile__sae,
  .vague,
  .vague__footer,
  .vague__bottom,
  .vague__textile,
  .vague__textile-bottom {
    display: none;
  }

  .poisson {
    width: 8rem;
    top: 30px;
    right: 50px;
  }

  .fish {
    width: 10rem;
    top: 400px;
    left: 50px;
  }
}

@media (max-width: 720px) {
  .navbar {
    padding: 0.5rem 1rem;
    justify-content: end;
  }

  .navbar__liste {
    gap: 1rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .oeuvre {
    flex-direction: column;
  }
}

.projets__title {
  padding-left: 2rem;
}

@media (min-width: 900px) {
  .projets__title {
    padding-left: 17rem;
  }
}
